{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block content %}
{% if app.user %}
<div id="banner">Ausleihe erfolgreich entfernt!</div>
<div id="confirm">
	<p>Möchtest du die Bestellung wirklich Löschen</p>
	<button id="yes" class="btn btn-secondary mt-3">Ja</button>
	<button id="no" class="btn btn-secondary mt-3">Nein</button>
</div>

<div id="profile-container" class="content-container">
	<h2 class="text-center">Profil</h2>
	<form id="form">
		<div class="row">
			<div class="col-md-6">
				<label for="fname">Vorname:</label>
				<input type="text" id="fname" class="form-control" value="{{ user.firstName }}" disabled>
				<label for="lname">Nachname:</label>
				<input type="text" id="lname" class="form-control" value="{{ user.lastName }}" disabled>
				<label for="birthday">Geburtsdatum:</label>
				<input type="date" id="birthday" class="form-control" value="{{ user.birthday|date('Y-m-d') }}"
					disabled>
				<label for="email">Email:</label>
				<input type="email" id="email" class="form-control" value="{{ user.email }}" disabled>
				<label for="phonenumber">Telefonnummer:</label>
				<input type="text" id="phonenumber" class="form-control" value="{{ user.phone }}" disabled>
			</div>
			<div class="col-md-6">
				<label for="street">Straße:</label>
				<input type="text" id="street" class="form-control" value="{{ user.street }}" disabled>
				<label for="streetno">Hausnummer:</label>
				<input type="text" id="streetno" class="form-control" value="{{ user.streetNumber }}" disabled>
				<label for="residence">Wohnort:</label>
				<input type="text" id="residence" class="form-control" value="{{ user.city }}" disabled>
				<label for="zipcode">Postleitzahl:</label>
				<input type="text" id="zipcode" class="form-control" value="{{ user.zipcode }}" disabled>
			</div>
		</div>
	</form>
</div>
<div id="orders-container" class="content-container mt-4">
	<h3 id="OrderHeader" class="text-center">Bestellungen</h3>
	<div>Delete order javascript funktion erstellen</div>
	<a href="{{ path('app_page_material') }}" class="btn btn-secondary mt-3" id="addOrder">Add Order</a>
	<button id="deleteOrder" class="btn btn-secondary mt-3">delete Order</button>
	<div class="scrollbox" id="OrderBox">
		<table class="table table-bordered table-hover sticky-table">
			<thead>
				<tr>
					<th class="px-3">Ausleihe</th>
					<th class="px-3">Verliehen von:</th>
					<th class="px-3">Verliehen bis:</th>
					<th class="px-3">Items</th>
					<th class="px-3"></th>
				</tr>
			</thead>
			<tbody>
				{% for loan in app.user.getLoans() %}
				<tr data-id="{{ loan.id }}">
					<td class="px-3">{{ loop.index }}</td>
					<td class="px-3">{{ loan.startDate.format('Y-m-d') }}</td>
					<td class="px-3">{{ loan.endDate.format('Y-m-d') }}</td>
					<td class="px-3">
						{% for item in loan.getItems() %}
						<p class="mb-1">{{ item.name }}</p>
						{% endfor %}
					</td>
					<td>
						{# <input type="checkbox" class="order-checkbox"> #}
						<input type="checkbox" class="order-checkbox" data-item-id="{{ loan.id }}" </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}
{% endblock %}

{% block stylesheets %}
<style>
	.scrollbox {
		max-height: 300px;
		overflow-y: auto;
		border: 1px solid #ccc;
	}

	.btn-primary {
		width: 100%;
	}

	#save {
		display: none;
	}

	.order.row p {
		text-align: center;
		justify-items: center;
	}

	#OrderBox {
		margin: 5px;
		padding: 10px;
		overflow: auto;
	}

	#banner {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #d4edda;
		color: #155724;
		padding: 15px;
		text-align: center;
		font-weight: bold;
		border-bottom: 1px solid #c3e6cb;
		z-index: 9999;
	}
		#confirm {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #d4edda;
		color: #155724;
		padding: 15px;
		text-align: center;
		font-weight: bold;
		border-bottom: 1px solid #c3e6cb;
		z-index: 9999;
	}

</style>
{% endblock %}

{% block javascripts %}
<script>

	const deleteButton = document.getElementById('deleteOrder');
	const confirmBox = document.getElementById("confirm");
	const yesButton = document.getElementById('yes');
	const noButton = document.getElementById('no');

	deleteButton.addEventListener("click", async function () {
		const selectedItems = [];
		document.querySelectorAll('.order-checkbox:checked').forEach((checkbox) => {
			selectedItems.push(checkbox.getAttribute('data-item-id'));
		});

		if (selectedItems.length === 0) {
			alert('Please select at least one item.');
			return;
		}

		confirmBox.style.display = 'block';

		yesButton.onclick = async function () {
			confirmBox.style.display = 'none';
			const requestBody = JSON.stringify(selectedItems);
			await deleteLoans(requestBody);
		};

		noButton.onclick = function () {
			confirmBox.style.display = 'none';
		};
		await deleteLoans(requestBody);
	});



	async function deleteLoans(requestBody) {
		console.log("Request Body:", requestBody);

		try {
			const response = await fetch("/api/loan/delete", {
				method: "POST",
				headers: {
					'Content-Type': 'application/json',
					'Accept': 'application/json'
				},
				body: requestBody
			});

			const serverResponse = await response.json();
			console.log("loan deleted: ", serverResponse);

			const banner = document.getElementById('banner')
			banner.style.display = 'block'
			setTimeout(() => {
				window.location.reload();
			}, 500)


		} catch (e) {
			console.error("loan not deleted: ", e);
		}
	}

</script>
{% endblock %}