{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
    {% if app.user %}
        <div id="profile-container" class="content-container">
            <h2 class="text-center">Profil</h2>
            <form id="form">
                <div class="row">
                    <div class="col-md-6">
                        <label for="fname">Vorname:</label>
                        <input type="text" id="fname" class="form-control" value="{{ user.firstName }}" disabled>
                        <label for="lname">Nachname:</label>
                        <input type="text" id="lname" class="form-control" value="{{ user.lastName }}" disabled>
                        <label for="birthday">Geburtsdatum:</label>
                        <input type="date" id="birthday" class="form-control" value="{{ user.birthday|date('Y-m-d') }}" disabled>
                        <label for="email">Email:</label>
                        <input type="email" id="email" class="form-control" value="{{ user.email }}" disabled>
                        <label for="phonenumber">Telefonnummer:</label>
                        <input type="text" id="phonenumber" class="form-control" value="{{ user.phone }}" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="street">Straße:</label>
                        <input type="text" id="street" class="form-control" value="{{ user.street }}" disabled>
                        <label for="streetno">Hausnummer:</label>
                        <input type="text" id="streetno" class="form-control" value="{{ user.streetNumber }}" disabled>
                        <label for="residence">Wohnort:</label>
                        <input type="text" id="residence" class="form-control" value="{{ user.city }}" disabled>
                        <label for="zipcode">Postleitzahl:</label>
                        <input type="text" id="zipcode" class="form-control" value="{{ user.zipcode }}" disabled>
                    </div>
                </div>
            </form>
        </div>
        <div id="orders-container" class="content-container mt-4">
            <h3 id="OrderHeader" class="text-center">Bestellungen</h3>
            <div>Table in scrollbox anpassen, delete order implementieren</div>
            <a href="{{ path('app_page_material') }}" class="btn btn-secondary mt-3" id="addOrder">Add Order</a>
            <button id="deleteOrder" class="btn btn-secondary mt-3">delete Order</button>
            <div class="scrollbox" id="OrderBox">
                <table>
                    <thead>
                    <tr>
                        <th>Ausleihe</th>
                        <th>Verliehen von:</th>
                        <th>Verliehen bis:</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set test = 1 %}
                    {% for loan in app.user.getLoans() %}
                        <tr>
                            <td>
                                <p class="col">{{ test }}</p>
                                {% set test = test + 1 %}
                            </td>
                            <td>
                                <p class="col">{{ loan.startDate.format('Y-m-d H:i:s') }}</p>
                            </td>
                            <td>
                                <p class="col">{{ loan.endDate.format('Y-m-d H:i:s') }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <style>
        .btn-primary {
            width: 100%;
        }
        #save {
            display: none;
        }
        .order.row p {
            text-align: center;
            justify-items: center;
        }
        #OrderBox {
            height: 250px;
            margin: 5px;
            padding: 10px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .order.row {
            background: rgb(182, 180, 180);
            margin: 5px;
            border-radius: 10px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
            justify-content: center;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        document.getElementById("deleteOrder").addEventListener("click", function () {
            var checkboxes = document.querySelectorAll("#OrderBox input[type='checkbox']");
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    checkbox.closest(".order").remove();
                }
            });
        });
    </script>
{% endblock %}
